.swiper-pagination {
  display: none;
}

.swiper-button-prev {
  display: none;
}

.swiper-button-next {
  display: none;
}

.swiper-wrapper {
  flex-wrap: wrap;
  justify-content: space-around;
}

.swiper-slide {
  width: auto;
}

&.swiper-container {
  padding-bottom: 0;
}