.Advantages {

}

.Advantages-Header {

}

.Advantages-CaseRow {
  display: flex;
  justify-content: space-around;
}

.Advantages-Case {
  max-width: 400px;
  text-align: center;
}

.Advantages-CaseImg {
  height: 100px;
}

.Advantages-CaseHeader {
  padding: {
    top: 15px;
    bottom: 15px;
  }
}

.Advantages-CaseText {

}