.container > h1:first-child {
  display: none;
}

#content > .divider {
  display: none;
}

.Container {
  width: 100%;
  min-width: 290px;
  font: {
    size: 12px;
  }
  line-height: 1.5em;
}

@media (min-width: 576px) {
  .Container {
    font: {
      size: 13px;
    }
  }
}

@media (min-width: 768px) {
  .Container {
    font: {
      size: 14px;
    }
  }
}

@media (min-width: 992px) {
  .Container {
    font: {
      size: 15px;
    }
  }
}

@media (min-width: 1200px) {
  .Container {
    font: {
      size: 16px;
    }
  }
}

/*.Container > section {
  border-bottom: 4px solid #EAECED;
  padding-bottom: 3em;
}

@media (min-width: 768px) {
  .Container > section:nth-child(2n) {
    background-color: #EAECED;
  }
  .Container > section {
    border-bottom: none;
  }
}*/

/*.Container p {
  margin-bottom: 0.75em;
}*/

/*.Container ul, ol {
  list-style: {
    position: inside;
  }
}*/

.Row {
  display: flex;
  flex-wrap: wrap;
}

.SectionHeader {
  text-align: center;
  font: {
    weight: 700;
    size: 1.5em;
  };
  padding: {
    top: 1em;
    bottom: 0.5em;
  };
}

.SectionHeader > a {
  color: black;
  text-decoration: none;
}

.SectionHeader > a:hover {
  text-decoration: underline;
  color: #666;
}

@media (min-width: 768px) {
  .SectionHeader {
    text-align: left;
    /*font: {
      size: 1.2857em;
    };*/
    padding: {
      top: 1em;
      bottom: 1em;
      left: 2em;
    };
  }
}

.Callback {
  text-align: center;
}

.Callback-Img {

}

.Callback-Text {
  font: {
    size: 1.5em;
    weight: 700;
  };
}

.Callback-Button {
  font: {
    size: 1em;
    weight: 300;
  };
  margin: 2em;
  padding: 1em 2em;
  border: 2px solid black;
  background-color: #71E2FF;
  transition: all 0.3s ease;
}

.Callback-Button:hover {
  background-color: white;
  border-color: grey;
  cursor: pointer;
}

@media (min-width: 768px) {
  .Callback-Text {
    font: {
      size: 2em;
    };
  }
  .Callback-Button {
    /*font: {
      size: 1em;
    };*/
  }
}

.slick-dots {
  text-align: center;
  margin: {
    top: 0.75em;
  };
}

.slick-dots > li {
  display: inline-block;
  cursor: pointer;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: black;
  opacity: 0.25;
  margin: 0 10px;
}

.slick-dots > li.slick-active {
  opacity: 0.75;
}

.slick-dots > li > button {
  display: none;
}

.slick-slide {
  //outline: 0;
}