.Container {
  width: 100%;
  min-width: 290px;
}

.Row {
  display: flex;
  flex-wrap: wrap;
}

.Services {
  padding-top: 1rem;
  padding-bottom: 4rem;
}

.ServContainer {
  flex: 0 0 50%;
}

.ServContainer-Link {
  color: #808080;
}

.ServContainer-Img {
  display: block;
  margin: auto;
  border-radius: 5px;
  border: 3px solid transparent;
  width: 80%;
  &:hover {
    border: 3px solid #30cbf2;
  }
}

.ServContainer-Text {
  display: block;
  color: black;
  text-align: center;
}

@media (min-width: 576px) {
  .ServContainer {
    flex: 0 0 33.33%;
  }
}

@media (min-width: 768px) {
  .ServContainer {
    flex: 0 0 25%;
  }
}

.OurWorks {
  padding: 50px 0px 50px;
  text-align: center;
  background: #e9eef2;
  font-family: ubuntu, sans-seriff;
  font-size: 18px;
}

.OurWorks-Background {

}

.OurWorks-Text {

}

.OurWorks-SampleText {
  padding-top: 3em;
}

.Idea {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.Idea-Img {

}

.Idea-Text {
  font-family: ubuntu, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}