.Advantages-CaseRow {
  display: flex;
  justify-content: space-around;

}

.Advantages-Case {
  flex: 0 0 33%;
  text-align: center;
}

.Advantages-CaseImgBox {
  position: relative;
  width: 100%;
  &:before {
    content: '';
    display: block;
    padding-top: 66%;
  }
}

.Advantages-CaseImg {
  position: absolute;
  top: 0;
  height: 100%;
  transform: translate(-50%, 0);
}

.Advantages-Case > .Advantages-CaseHeader {
  padding: {
    top: 1em;
    bottom: 1em;
  }
  font: {
    weight: 300;
    size: 1.25em;
  }
  display: none;
}

.Advantages-Case > .Advantages-CaseHeaderMobile {
  padding: 1em 0;
  font: {
    weight: 300;
    size: 1em;
  }
}

.Advantages-CaseText {
  font: {
    weight: 300;
    size: 1em;
  };
  display: none;
  margin: 0.75em 0;
}

@media (min-width: 768px) {
  .Advantages-CaseRow {

  }
  .Advantages-CaseHeader {
    display: block;
  }
  .Advantages-CaseHeaderMobile {
    display: none;
  }
  .Advantages-CaseText {
    display: block;
  }
  .Advantages-CaseImgBox {
    &:before {
      padding-top: 25%;
    }
  }
}

.Samples {

}

.Location {

}

.Location-CaseRow {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Location-Case {
  text-align: center;
  min-width: 290px;
  padding-top: 1.5em;
  line-height: 1.5em;
}

.Location-CaseImg {

}

.Location-CaseHeader {
  font: {
    weight: 700;
    size: 1em;
  };
}

.Location-CaseText {
  font: {
    weight: 300;
    size: 1em;
  };
}

.Location-CaseLink {
  font: {
    weight: 300;
    size: 1em;
  };
}

@media (min-width: 768px) {
  .Location-CaseHeader {
    font: {
      size: 1.5em;
    };
  }
  .Location-CaseText {

  }
  .Location-CaseLink {

  }
}

.Dealers {

}

.Dealers-SliderContainer {
  display: flex;
  align-items: center;
}

.Dealers-SliderArrow {
  display: none;
}

.Dealers-SliderArrow > img {
  width: 100%;
  cursor: pointer;
  transition: transform 0.3s;
}

.Dealers-Slider {
  overflow: hidden;
}

.Dealers-SliderItem {
  display: inline-block;
  height: 70px;
}

.Dealers-SliderItem > img {
  text-align: center;
  height: 100%;
  display: block;
  margin: auto;
}

.Dealers-SliderItemImg {

}

@media (min-width: 768px) {
  .Dealers-SliderArrow {
    display: block;
    flex: 0 0 2em;
    padding: 0 1em;
  }
  .Dealers-SliderItem {
    height: 160px;
  }
}