.Engineering-Block2Content > ul {
  padding-left: 1.5em;
  list-style: none;
}

.Engineering-Block2Content > ul > li {
  position: relative;
}

.Engineering-Block2Content > ul > li:before {
  content: " ";
  position: absolute;
  top: 0.4375em;
  left: -1em;
  width: 0.625em;
  height: 0.625em;
  background-color: #71e2ff;
}

.EngineeringPricing-Bg1 {
  height: 10em;
  position: relative;
  z-index: -1;
}

.EngineeringPricing-Bg2 {
  height: 8em;
  order: 1;
  position: relative;
  z-index: -1;
}

.EngineeringPricing-Bg1Duct {
  height: 10em;
  position: absolute;
  right: -40%;
}

.EngineeringPricing-Bg2Duct {
  height: 19.5em;
  position: absolute;
  left: -24em;
  bottom: 1.5em;
}

.EngineeringPricing-Bg3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1.5em;
}

.EngineeringPricing-Bg3Oval {
  display: none;
}

.EngineeringPricing-Bg3Plate1 {
  height: 9.25em;
}

.EngineeringPricing-Bg3Question {
  font: {
    size: 5.5em;
    weight: 700;
  };
}

.EngineeringPricing-Bg3Plate2 {
  height: 6em;
}

@media (min-width: 576px) {
  .EngineeringPricing-Bg1 {
    height: auto;
  }
  .EngineeringPricing-Bg2 {
    height: auto;
    order: 0;
  }
  .EngineeringPricing-Bg1Duct {
    height: 15em;
    right: auto;
    left: 15px;
  }
  .EngineeringPricing-Bg2Duct {
    height: 28em;
    right: 4.5em;
    left: auto;
    bottom: 1.5em;
  }
}

@media (min-width: 768px) {
  .EngineeringPricing-Block1 {
    margin-bottom: 2em;
  }
  .EngineeringPricing-Bg3 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 70%;
    right: 0;
    margin-bottom: 0;
  }
  .EngineeringPricing-Bg3Oval {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translatey(-50%);
    width: 700px;
    height: 700px;
    background-color: #bfa98e;
    border-radius: 350px;
  }
  .EngineeringPricing-Bg3Plate1 {
    position: absolute;
    top: 20%;
    left: -10%;
    height: 10em;

  }
  .EngineeringPricing-Bg3Question {
    position: absolute;
    left: 35%;
    top: 50%;
    transform: translateY(-50%);
    font: {
      size: 8em;
    };
  }
  .EngineeringPricing-Bg3Plate2 {
    position: absolute;
    bottom: 5%;
    left: 15%;
    height: 7em;
  }
}

@media (min-width: 992px) {
  .EngineeringPricing-Block1 {
    margin-bottom: 6em;
  }
}

.EngineeringPrice-Table {
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 1.5em;
}

.EngineeringPrice-Table th {
  padding: 0.5em;
}

.EngineeringPrice-Table td {
  text-align: center;
  padding: 0.5em;
}

.EngineeringPrice-Table_small {
  tr:nth-child(4n+1) > td,
  tr:nth-child(4n+1) > th {
    background-color: #eeeeee;
  }
  tr:nth-child(4n+2) > td,
  tr:nth-child(4n+2) > th {
    background-color: #f6f6f6;
  }
  tr:nth-child(4n+1) > td[rowspan='2'],
  tr:nth-child(4n+1) > th[rowspan='2'] {
    background-color: #dadada;
  }
  td[rowspan='2'] {
    text-align: left;
    padding-left: 1em;
  }
  th:last-child,
  td:last-child {
    padding-right: 1em;
  }
}

.EngineeringPrice-Table_big {
  display: none;
  tr:nth-child(odd) > td,
  th {
    background-color: #eeeeee;
  }
  tr > td:first-child,
  th:first-child {
    background-color: #dadada;
    padding-left: 1em;
  }
  tr > td:last-child,
  th:last-child {
    padding-right: 1em;
  }
  tr > td:nth-child(1),
  tr > td:nth-child(2) {
    text-align: left;
  }
  tr:nth-child(even) > td {
    background-color: #fff;
  }
}

@media (min-width: 576px) {
  .EngineeringPrice-Table_small {
    display: none;
  }
  .EngineeringPrice-Table_big {
    display: table;
  }
}