.Engineering {

}

.Engineering-Block1 {
  flex: 0 0 100%;
  box-sizing: border-box;
  max-width: 400px;
  margin: 0 auto;
}

.Engineering-Block2 {
  flex: 0 0 100%;
  box-sizing: border-box;
  max-width: 400px;
  margin: 0 auto;
}

.Engineering-Block2Cell {
  position: relative;
  border: 3px solid #dcdcdc;
  margin-bottom: 1.5em;                                                                                               // Связан с отступами между абзацами. Ввести переменные определяющие глобальный вид верстки?
  padding: {
    top: 1.5em;
    bottom: 1.5em;
  };
}

.Engineering-Block2Content {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translatex(-50%);
}

.Engineering-Block2Content > ul {
  padding-left: 1.5em;
  list-style: none;
}

.Engineering-Block2Content > ul > li {
  position: relative;
}

.Engineering-Block2Content > ul > li:before {
  content: " ";
  position: absolute;
  top: 0.4375em;
  left: -1em;
  width: 0.625em;
  height: 0.625em;
  background-color: #71e2ff;
}

@media (min-width: 768px) {
  .Engineering-Block1 {
    flex: 0 0 50%;
    max-width: none;
    padding: {
      left: 8.33%;
      right: 15px;
    }
  }
  .Engineering-Block2 {
    flex: 0 0 50%;
    max-width: none;
    padding: {
      left: 15px;
      right: 8.33%;
    }
  }
}

.EngineeringPricing-Block1 {
  flex: 0 0 100%;
  max-width: 400px;
  margin: 0 auto;
}

.EngineeringPricing-Block2 {
  flex: 0 0 100%;
  max-width: 400px;
  margin: 0 auto;
}

.EngineeringPricing-Bg1 {
  flex: 0 0 100%;
  height: 10em;
  position: relative;
  z-index: -1;
}

.EngineeringPricing-Bg2 {
  flex: 0 0 100%;
  height: 8em;
  order: 1;
  position: relative;
  z-index: -1;
}

.EngineeringPricing-Bg1Duct {
  height: 10em;
  position: absolute;
  right: -40%;
}

.EngineeringPricing-Bg2Duct {
  height: 19.5em;
  position: absolute;
  left: -24em;
  bottom: 1.5em;
}

.EngineeringPricing-Block3 {
  order: 1;
  max-width: 400px;
  margin: 0 auto;
}

.EngineeringPricing-Block4 {
  max-width: 400px;
  margin: 0 auto;
}

.EngineeringPricing-Bg3 {
  flex: 0 0 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  order: 1;
  margin-bottom: 1.5em;
}

.EngineeringPricing-Bg3Oval {
  display: none;
}

.EngineeringPricing-Bg3Plate1 {
  height: 9.25em;
}

.EngineeringPricing-Bg3Question {
  font: {
    size: 5.5em;
    weight: 700;
  };
}

.EngineeringPricing-Bg3Plate2 {
  height: 6em;
}

@media (min-width: 576px) {
  .EngineeringPricing-Block1 {
    flex: 0 0 50%;
    max-width: none;
    margin: {
      left: 8.33%;
    }
    margin-bottom: 6em;
  }
  .EngineeringPricing-Block2 {
    flex: 0 0 51%;
    max-width: none;
  }
  .EngineeringPricing-Bg1 {
    flex: 0 0 41.67%;
    height: auto;
  }
  .EngineeringPricing-Bg2 {
    flex: 0 0 41.67%;
    height: auto;
    order: 0;
  }
  .EngineeringPricing-Bg1Duct {
    height: 15em;
    right: auto;
    left: 15px;
  }
  .EngineeringPricing-Bg2Duct {
    height: 28em;
    right: 4.5em;
    left: auto;
    bottom: 1.5em;
  }
  .EngineeringPricing-Block3 {
    flex: 0 0 50%;
    order: 1;
    max-width: none;
    margin: {
      left: 8.33%;
    }
  }
  .EngineeringPricing-Block4 {
    flex: 0 0 50%;
    max-width: none;
    margin: {
      left: 8.33%;
    }
  }
  .EngineeringPricing-Bg3 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 70%;
    right: 0;
    margin-bottom: 0;
  }
  .EngineeringPricing-Bg3Oval {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translatey(-50%);
    width: 700px;
    height: 700px;
    background-color: #bfa98e;
    border-radius: 350px;
  }
  .EngineeringPricing-Bg3Plate1 {
    position: absolute;
    top: 20%;
    left: -20%;
    height: 10em;

  }
  .EngineeringPricing-Bg3Question {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    font: {
      size: 8em;
    };
  }
  .EngineeringPricing-Bg3Plate2 {
    position: absolute;
    bottom: 5%;
    left: 25%;
    height: 7em;
  }
}