.StdInstall-VariantsContainer {
  width: 100%;
  margin-bottom: 1.5em;
}

.StdInstall-VariantsSelect {
  display: flex;
}

.StdInstall-VariantsSelect > label {
  flex: 1 1 auto;
  cursor: pointer;
  text-align: center;
  border: solid 2px #e8e8e8;
  border-radius: 15px 15px 0 0;
  font: {
    size: 1.375em;
  };
  padding: 0.5em;
}

.StdInstall-VariantsContainer > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.StdInstall-Variant1,
.StdInstall-Variant2,
.StdInstall-Variant3 {
  flex: 0 0 100%;
}

#stdInstallVariant1:checked ~ div > .StdInstall-Variant1,
#stdInstallVariant2:checked ~ div > .StdInstall-Variant2,
#stdInstallVariant3:checked ~ div > .StdInstall-Variant3 {
  order: -1;
}

#stdInstallVariant1:checked ~ div > label:nth-of-type(1),
#stdInstallVariant2:checked ~ div > label:nth-of-type(2),
#stdInstallVariant3:checked ~ div > label:nth-of-type(3) {
  border-bottom: none;
}

.StdInstall-Variants {
  display: flex;
  border: {
    left: solid 2px #e8e8e8;
    right: solid 2px #e8e8e8;
  }
}

.StdInstall-VariantSlide {
  width: 24em;
}

.StdInstall-VariantSlide > ul {
  list-style: none;
  text-align: left;
  line-height: 1.75em;
  padding: 0 5px;
}

.StdInstall-VariantSlide > ul > li:before {
  content: '- ';
}

.StdInstall-Prices {
  display: flex;
  width: 100%;
  margin-bottom: 1.5em;
  border: {
    bottom: solid 2px #e8e8e8;
    left: solid 2px #e8e8e8;
    right: solid 2px #e8e8e8;
  }
  overflow: hidden;
}

.StdInstall-Prices > table {
  flex: 0 0 100%;
  border: none;
  border-collapse: collapse;
  width: 100%;
  td, th {
    font: {
      size: 0.85em;
      weight: 400;
    }
    padding: 0.5em;
  }
  th:nth-child(1) {
    background-color: #ececec;
  }
  th:nth-child(2) {
    background-color: #f4f4f4;
  }
  th:nth-child(3) {
    background-color: #f9f9f9;
  }
  tbody > tr:nth-child(odd){
    td:nth-child(1) {
      background-color: #dadada;
    }
    td:nth-child(2) {
      background-color: #ebebeb;
    }
    td:nth-child(3) {
      background-color: #f4f4f4;
    }
  }
  td:nth-child(3) strong {
    display: none;
  }
}

#stdInstallVariant1:checked ~ .StdInstall-Prices td:nth-child(3) strong:nth-of-type(1),
#stdInstallVariant2:checked ~ .StdInstall-Prices td:nth-child(3) strong:nth-of-type(2),
#stdInstallVariant3:checked ~ .StdInstall-Prices td:nth-child(3) strong:nth-of-type(3) {
  display: inline;
}

@media (min-width: 576px) {
  .StdInstall-Prices > table {
    td, th {
      font-size: 1em;
    }
  }
}

@media (min-width: 1230px) {
  .StdInstall-Variants > .swiper-container {
    @import "swiperUnmount";
  }
}

.InstallSteps-Slider {
  counter-reset: installStepsSlider;
}

.InstallSteps-Slide {
  width: 240px;
}

.InstallSteps-SlideImg {
  position: relative;
  width: 100%;
  padding: 20px;
}

.InstallSteps-SlideImg:before {
  counter-increment: installStepsSlider;
  content: counter(installStepsSlider);
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  background-color: #00e3ff;
  text-align: center;
  line-height: 40px;
  color: #fff;
}

.InstallSteps-SlideText {
  padding: 0 2px;
}

@media (min-width: 1230px) {
  .InstallSteps-Slider {
    @import "swiperUnmount";
  }
}

.UnstdInstall-Slider {

}

.UnstdInstall-Slide {
  width: 24em;
}

@media (min-width: 1230px) {
  .UnstdInstall-Slider {
    @import "swiperUnmount";
  }
}

.InstallYours-List {
  list-style: none;
  margin-bottom: 1.5em;
}

.InstallYours-List > li:before {
  content: '- ';
}

.Measurement-Bg1 {
  display: none;
  position: absolute;
  top: -6.875em;
  left: 0;
  z-index: -1;
  height: 18em;
  opacity: 0.5;
}

@media (min-width: 768px) {
  .Measurement-Bg1 {
    display: block;
  }
}

.InstalBySelf-Bg1 {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-60%);
  z-index: -1;
  width: 100%;
  opacity: 0.5;
}

@media (min-width: 768px) {
  .InstalBySelf-Bg1 {
    display: block;
  }
}

.BuyAndInstall-Bg1 {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  opacity: 0.5;
}

@media (min-width: 768px) {
  .BuyAndInstall-Bg1 {
    display: block;
  }
}

.Price-Table {
  margin: auto;
  border-collapse: collapse;
}

.Price-Table tr:nth-child(odd) {
  background-color: #eeeeee;
}

.Price-Table tr:nth-child(odd) > td:first-child {
  background-color: #d9d9d9;
}

.Price-Table th {
  padding: 0.5em;
}

.Price-Table td {
  text-align: center;
  padding: 0.5em;
}

.Price-Table td:first-child {
  text-align: left;
}