.TopNav {
  padding: {
    top: 1em;
  };
}

.TopNav-NavList {
  list-style-type: none;
  /*font: {
    size: 10px;
  };*/
  line-height: 1.5em;
}

.TopNav-NavList > li {
  position: relative;
  border: {
    bottom: 2px solid #EAECED;
    left: 2px solid #EAECED;
    right: 2px solid #EAECED;
  };
}

.TopNav-NavList > li:first-child {
   border: {
     top: 2px solid #EAECED;
     radius: 5px 5px 0 0;
   };
 }

.TopNav-NavList > li:last-child {
  border: {
    radius: 0 0 5px 5px;
  };
}

.TopNav-NavList > li > a {
  //position: relative;
  display: inline-block;
  width: 93%;
  padding: {
    right: 5%;
    left: 2%;
    /*top: 5px;
    bottom: 5px;*/
  }
  text-decoration: none;
  color: black;
  font: {
    weight: 700;
  };
  //margin-right: 1.5em;
  //overflow: hidden;
  padding: {
    top: 0.25em;
    bottom: 0.25em;
  };
  min-height: 2em;
}

.TopNav-NavList > li > a:after {
  content: ">";
  position: absolute;
  right: 5px;
  bottom: 50%;
  color: #808080;
  font: {
    weight: 500;
    size: 1em;
  };
  line-height: 1em;
  transform: translateY(50%) scaleY(3);
}

.TopNav-Img {
  display: none;
}

@media (min-width: 768px) {
  .TopNav {
    position: relative;
    padding: {
      top: 2em;
    };
  }
  .TopNav-NavList {
    /*font: {
      size: 12px;
    };*/
    column-count: 2;
  }
  .TopNav-NavList > li {
    position: relative;
    margin: {
      left: 130px;
    };
    border: none;
  }
  .TopNav-NavList > li:first-child {
    border: none;
  }
  .TopNav-NavList > li:before {
    content: "";
    position: absolute;
    top: 0.55em;
    left: -1.25em;
    width: 0.76em;
    height: 0.76em;
    border: {
      radius: 0.38em;
    };
    background: {
      color: #75D404;
    }
  }
  .TopNav-NavList > li > a {
    width: 100%;
    font: {
      weight: 400;
    };
    padding: {
      /*top: 0;
      bottom: 0;*/
      left: 0;
    };
    transition: transform 0.3s ease-out;
  }
  .TopNav-NavList > li > a:after {
    content: none;
  }
  .TopNav-NavList > li > a:hover {
    transform: translateX(3%) scale(1.03);
    /*font: {
      weight: 700;
    };*/
    //padding-right: 0;
  }
  .TopNav-Img {
    display: block;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    transition: transform 1s;
  }
  .TopNav-Img:first-child {
    left: 0;
  }
  .TopNav-Img:last-child {
    left: 50%;
  }
  .TopNav-Img > img {
    height: 130px;
  }
}

.StdInstall-Case {
  margin-bottom: 0.75em;
}

.StdInstall-CaseHead {
  font: {
    size: 1.25em;
  };
  margin-bottom: 0.75em;
}

.StdInstall-CaseHeader {
  display: none;
 font: {
   weight: 400;
 }
}

.StdInstall-CaseHeaderImp {
  font: {
    weight: 400;
  }
}

.StdInstall-CaseHeaderImp > span {
  font: {
    weight: 700;
  };
  color: #30CBF2;
}

.StdInstall-CasePrices td:first-child:before {
  content: "-";
}

.StdInstall-CasePrices td:first-child:after {
  content: " ";
  white-space: pre;
}

.StdInstall-CaseImg {
  overflow: hidden;
}

@media (min-width: 576px) {
  .StdInstall-CaseHeader {
    display: inline;
  }
}

.UnStdInstall {
  overflow: hidden;
}

.UnStdInstall-Cases {
  margin-bottom: 0.75em;
}

.UnStdInstall-Case {
  text-align: center;
  display: inline-block;
}

.UnStdInstall-Case > img {
  width: 100%;
}
.UnStdInstall-Case > h5 {
  padding: 0 0.5em;
  font: {
    size: 1em;
  }
}

@media (min-width: 768px) {
  .UnStdInstall-Cases {
    display: flex;
    flex-wrap: wrap;
  }
  .UnStdInstall-Case {
    flex: 0 0 50%;
  }
}

@media (min-width: 1200px) {
  .UnStdInstall-Case {
    flex: 0 0 33.33%;
  }
}

.Prices > table {
  border-collapse: collapse;
  line-height: 1.5em;
  width: 100%;
  margin-bottom: 0.75em;
}

.Prices td, th {
  border: 1px solid black;
  padding: 0.25em;
}

.TwoStepInstall > ul, ol {
  margin-left: 3em;
}

.BuyAndInstall-Img {
  float: left;
  margin: 1em 2em;
  max-width: 30%;
}

.YoursEqipInstall > ul, ol {
  margin-left: 3em;
}

.BadInstall-Img {
  display: block;
  margin: auto;
}