.SerAndRepSection {
  border-bottom: solid 2px #e8e8e8;
}

.SerAndRepSection-Header > a {
  color: black;
  text-decoration: none;
}

.SerAndRepSection-Header > a:hover {
  text-decoration: underline;
  color: #666;
}

.SerAndRepSection-Header {
  box-sizing: border-box;
  flex: 0 0 100%;
  font: {
    size: 1.375em;
    weight: 700;
  };
  padding: {
    top: 1.6363em;
    bottom: 1.6363em;
    left: 13%;
  }
}

.SerAndRepSection-Paragraph {
  font: {
    //weight: 300;
  };
  //line-height: 1.5em;
  margin-bottom: 1.5em;
}

.WhyService-BgImg1 {
  display: block;
  margin: auto;
  width: 100%;
  margin-bottom: 1.5em;
}

.PeriodService-Bg {
  text-align: center;
}

.PeriodService-BgImg1 {
  width: 50%;
}

@media (min-width: 768px) {
  .PeriodService-BgImg1 {
    width: 100%;
    position: absolute;
    z-index: -1;
    right: 0;
    transform: translateY(-50%);
  }
}

@media (min-width: 1200px) {
  .PeriodService-BgImg1 {
    width: 80%;
    top: -5em;
    transform: none;
  }
  .PeriodService-Bg {
    align-self: flex-start;
  }
}

.ServicePrice-Offers {

}

.ServicePrice-Offers .goods_hits {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
}

.ServicePrice-Offers .goods {
  height: auto;
  width: auto;
  float: none;
  padding: 0 15px;
  //margin: 0;
  flex: 0 1 230px;
  box-sizing: border-box;
}

.ServicePrice-Offers .goods > a:first-child {
  height: auto;
  display: block;
  margin: auto;
  width: 13.85em;
  padding-bottom: 3.4em;
}

.ServicePrice-Offers .goods > .price {
  position: absolute;
  bottom: 0;
  left: 15px;
  //line-height: 1.5em;
}

.ServicePrice-Offers .buy {
  border: none;
  font: {
    size: 1em;
  };
  padding: 0.5em;
}

.ServicePrice-OfferImg {
  display: block;
  margin: auto;
  margin: {
    top: 1.5em;
    bottom: 1em;
  }
  height: 8.375em;
}

.ServiceInclude-Column {
  margin-bottom: 1.5em;
}

.ServiceInclude-ColumnImg {
  display: block;
  margin: auto;
  margin-bottom: 2.375em;
  height: 11.25em;
}

.ServiceInclude-ColumnText {
  margin: auto;
  margin-bottom: 3.125em;
  max-width: 20em;
  text-align: center;
}

.ServiceInclude-ColumnList {
  padding-left: 2em;
}
