.Services {
  //padding-top: 1em;
  padding-bottom: 4em;
}

.ServContainer {
  flex: 0 0 50%;
  margin-top: 1em;
  text-align: center;
}

.ServContainer-Link {
  &:hover {
    .ServContainer-Img {
      border: 3px solid #30cbf2;
    }
  }
}

.ServContainer-Img {
  border-radius: 5px;
  border: 3px solid transparent;
  width: 95%;
  transition: border 0.3s ease-in-out;
  &:hover {
    border: 3px solid #30cbf2;
  }
}

.ServContainer-Text {
  display: block;
  color: black;
  padding-top: 1em;
  padding: 0 0.5em;
}

@media (min-width: 576px) {
  .ServContainer {
    flex: 0 0 33.33%;
  }
}

@media (min-width: 768px) {
  .ServContainer {
    flex: 0 0 25%;
  }
}

.OurWorks {
  padding: 4em 0 4em;
  text-align: center;
  background: #e9eef2;
}

.OurWorks-Background {

}

.OurWorks-Text {

}

.OurWorks-SampleText {
  padding-top: 3em;
}

.Idea {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.Idea-Img {

}

.Idea-Text {
  font-family: ubuntu, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}