mixin NavBarAba()
  nav.NavBarAba
    block

mixin NavBarAba-Link(options)
  - var {href, text, svgHref, viewBox, x = 0, y = 0} = options
  a(href = href).NavBarAba-Link
    svg(viewBox = viewBox).NavBarAba-LinkImg
      use(xlink:href = svgHref, x = x, y = y)
    span.NavBarAba-LinkText
      | #{text}