.NavBarAba {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: {
    top: 1.5em;
    bottom: 1.5em;
  }
  border-bottom: solid 2px #e8e8e8;
}

.NavBarAba-Link {
  //flex: 1 1 140px;
  flex: 0 0 200px;
  padding-bottom: 0.5em;
  text-align: center;
  text-decoration: none;
  &:hover {
    //--icon-color: #30CBF2;
    text-decoration: underline;
    .NavBarAba-LinkImg {
      animation: iconRotate  0.7s ease-in-out;
    }
  }
}

.NavBarAba-LinkImg {
  display: block;
  margin: auto;
  margin-bottom: 0.5em;
  height: 3.125em;
  //transition: 0.7s;
}

.NavBarAba-LinkText {
  color: black;
  font-size: 0.875em;
  display: block;
  padding: 0 0.5em;
  margin: auto;
  //max-width: 17em;
}

/*position: fixed;
top: 0;
left: 0;
right: 0;
background: white;
z-index: 10;*/

@keyframes iconRotate {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}