doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width', initial-scale='1', shrink-to-fit='no')
    script(type='text/javascript', src='../js/main.js')
    link(rel='stylesheet', type='text/css', href='../styles/main.css')
    link(rel='stylesheet', type='text/css', href='../styles/site.css')
    // Собственные стили страницы
    link(rel='stylesheet', type='text/css', href='../styles/p_installHome.css')
    title Монтаж систем кондиционирования
body(id='content')
  div.container.clear
    div.container
      style(type='text/css')
        // include
      h1 #{_fileName_}

      script(type='text/javascript', src='../js/p_installHome.js')
        // include