extends t_main.pug
include ../components/NavBarAba/NavBarAba.pug
include ../components/SectionAba/SectionAba.pug
include ../components/CallbackSectionAba/CallbackSectionAba.pug

block title
  | Обслуживание и ремонт кондиционеров

block content
  nav.NavBarAba
    +NavBarAba-Link({
      href: '#engineering',
      text: 'Проектирование систем кондиционирования и вентиляции',
      svgHref: '/uploaded/images/icons.svg#engineering',
      viewBox: '0 0 3100 2381.24',
      x: '-44300'
    })
    +NavBarAba-Link({
      href: '#engineeringPricing',
      text: 'От чего зависит стоимость проектных работ?',
      svgHref: '/uploaded/images/icons.svg#engineeringPricing',
      viewBox: '0 0 3400 2381.24',
      x: '-48500'
    })
    +NavBarAba-Link({
      href: '#engineeringPrice',
      text: 'Прайс на проектирование систем вентиляции и кондиционирования',
      svgHref: '/uploaded/images/icons.svg#price',
      viewBox: '0 0 1218 2381.24',
      x: '-31635'
    })
  +SectionAba({
    headerText: 'Проектирование',
    sectionLink: 'engineering',
    classes: ''
  })
    div.Engineering-Block1
      p.SectionAba-Paragraph
        | Наш производственный опыт позволяет делать качественные
        | и <strong>РЕАЛЬНЫЕ</strong> проекты.
      p.SectionAba-Paragraph
        | Поэтому проекты мы всегда выполняем с учетом планируемого
        | заказчиком бюджета на монтаж, а также удобства монтажа и
        | дальнейшей эксплуатации.
    div.Engineering-Block2
      div.SectionAba-Important
        div.Engineering-Block2Content
          span
            | Мы  всегда знаем:
          ul
            li какое оборудование подойдет Вам,
            li сколько оно будет стоить,
            li и как фактически оно будет работать.
  +SectionAba({
    headerText: 'От чего зависит стоимость проектных работ?',
    sectionLink: 'engineeringPricing',
    classes: ''
  })
    div.SectionAba-SubSection
      div.EngineeringPricing-Block1
        p.SectionAba-Paragraph
          | Стоимость проектных работ напрямую зависит от трудоемкости
          | проектирования. То есть от того, на сколько много инженерных систем
          | на условном 1м2 площади объекта. Например, стоимость промышленных
          | объектов, как правило, выше, чем жилых. Или стоимость вентиляции,
          | которая состоит из приточной и вытяжной системы выше, чем состоящей
          | только из вытяжной системы.
      div.EngineeringPricing-Bg1
        img(src = '/uploaded/images/air_duct_1.svg', alt = 'Воздуховоды').EngineeringPricing-Bg1Duct
      div.EngineeringPricing-Bg2
        img(src = '/uploaded/images/air_duct_2.svg', alt = 'Аспирация').EngineeringPricing-Bg2Duct
      div.EngineeringPricing-Block2
        p.SectionAba-Paragraph
          | Так же стоимость проектных работ зависит от степени уникальности
          | Вашего объекта.  Типовое решение будет стоить дешевле (как правило,
          | жилые и общественные).
        p.SectionAba-Paragraph
          | Если вам  нужно оригинальное решение, то это будет дольше
          | и, естественно, дороже. В таком случае готовьтесь отвечать на уйму
          | вопросов ;) (как правило, промышленная аспирация).
    div.SectionAba-SubSection
      div.EngineeringPricing-Bg3
        div.EngineeringPricing-Bg3Oval
        img(src = '/uploaded/images/plate_1.svg', alt = 'Большая тарелка').EngineeringPricing-Bg3Plate1
        span.EngineeringPricing-Bg3Question
          | ?
        img(src = '/uploaded/images/plate_2.svg', alt = 'Маленькая тарелка').EngineeringPricing-Bg3Plate2
      div.EngineeringPricing-Block3
        p.SectionAba-Paragraph
          | Из собственного опыта мы пришли к выводу, что оценивать стоимость
          | проектных работ по квадратуре объекта – не всегда корректно.
          | Например, у вас может быть большой промышленный цех площадью 500 м2.
          | Однако Вам нужен будет только один вытяжной зонт над аккумуляторной.
          | Или у Вас может быть венткамера площадью всего лишь 20 м2, в которой
          | расположены  две блочных приточно-вытяжных установки,
          | которые обслуживают  здание на 500 м2. Плотность расположения
          | оборудования в венткамере может быть настолько высока, что
          | проходить свободно сквозь это помещение у взрослого человека
          |  не получится.
      div.EngineeringPricing-Block4
        p.SectionAba-Paragraph
          | Еще мы должны знать, для каких целей Вам нужен проект.
          | И нужен ли вообще Вам проект в том представлении, в каком принято
          | считать. Например, для монтажных организаций в 99% достаточно лишь
          | эскизного проекта. Поэтому для точной оценки стоимости проекта мы
          | должны иметь полное представление о Вашем объекте: местоположение,
          | размеры, технологические процессы и многое другое.
  +SectionAba({
    headerText: 'Прайс на проектные услуги',
    sectionLink: 'engineeringPrice',
    classes: ''
  })
    table
      tr
        th Наименование
        th Содержание
        th Пример
        th Вентиляция
        th Кондиционирование
      tr
        td Проект оформленный
        td
          | Включает: титульный лист, общие данные, таблицу воздухообмена,
          | планы, при необходимости разрезы,спецификацию в dwg или pdf
        td
          a(href = '') Пример
        td от 15 000 руб
        td от 8 000 руб
      tr
        td Эскизный проект
        td
          | Включает: план, аксонометрию, при необходимости
          | - пару разрезов в dwg или pdf, и спецификацию в xls
        td
          a(href = '') Пример
        td от 4 000 руб
        td от 3 000 руб
      tr
        td Спецификация с ценами
        td
          | Удобно для монтажных компаний. Готовое предложение
          |  для заказчика, Вам - экономия времени
        td
          a(href = '') Пример
        td от 500 руб
        td от 500 руб
      tr
        td Выезд на замер
        td
          | В пределах г. Барнаула.
          | За пределами ст-ть вычисляется по км.
        td
          a(href = '') Пример
        td от 500 руб
        td от 500 руб
      tr
        td Паспорт
        td
          | Составляется в dwg или pdf по Вашим данным.
        td
          a(href = '') Пример
        td от 2 000 руб
        td от 2 000 руб
      tr
        td Замеры для составления паспорта
        td
          | Выезд на объект, составление обмерочного плана помещения
          | и инженерных систем, замеры воздухообмена анемометом
        td
          a(href = '') Пример
        td от 1 000 руб
        td от 1 000 руб
      tr
        td Исполнительная по выполненному проекту
        td
          | Составляется в dwg или pdf по Вашим данным
        td
          a(href = '') Пример
        td от 5 000 руб
        td от 3 000 руб
      tr
        td Смета
        td
          | Составляется в  погромном комплексе ГрандСмета,
          | локальный сметный расчет + КС-2, КС-3
        td
          a(href = '') Пример
        td от 3 000 руб
        td от 3 000 руб

  +CallbackSectionAba({
    header: 'Не знаете сколько будет стоить Ваш проект? ',
    description: 'Мы Вам поможем! Просто позвоните нам! Или оставьте заявку.'
  })