extends t_main.pug
include ../components/NavBarAba/NavBarAba.pug
include ../components/SectionAba/SectionAba.pug
include ../components/CallbackSectionAba/CallbackSectionAba.pug

block title
  | Монтаж бытовых систем кондиционирования

block content
  nav.NavBarAba
    +NavBarAba-Link({
      href: '#measurement',
      text: 'Выезд на замер',
      svgHref: '/uploaded/images/icons.svg#measurement',
      viewBox: '0 0 2500 2381.24',
      x: '-11000'
    })
    +NavBarAba-Link({
      href: '#stdInstall',
      text: 'Стандартный монтаж кондиционера',
      svgHref: '/uploaded/images/icons.svg#stdInstall',
      viewBox: '0 0 1800 2381.24',
      x: '-14500'
    })
    +NavBarAba-Link({
      href: '#unstdInstall',
      text: 'НЕстандартный монтаж кондиционера',
      svgHref: '/uploaded/images/icons.svg#unstdInstall',
      viewBox: '0 0 2300 2381.24',
      x: '-18300'
    })
    +NavBarAba-Link({
      href: '#buyAndInstall',
      text: 'Купить кондиционер с установкой в одном месте',
      svgHref: '/uploaded/images/icons.svg#buyAndInstall',
      viewBox: '0 0 3300 2381.24',
      x: '-21800'
    })
    +NavBarAba-Link({
      href: '#instalBySelf',
      text: 'Установка кондиционера своими руками',
      svgHref: '/uploaded/images/icons.svg#instalBySelf',
      viewBox: '0 0 3200 2381.24',
      x: '-26500'
    })
    +NavBarAba-Link({
      href: '#price',
      text: 'Прайс на услуги ',
      svgHref: '/uploaded/images/icons.svg#price',
      viewBox: '0 0 1300 2381.24',
      x: '-31600'
    })
  +SectionAba({
    headerText: 'Выезд на замер',
    sectionLink: 'measurement',
    classes: ''
  })
    //div.SectionAba-Bg
      img(src = '/uploaded/images/blue_clouds.svg', alt = 'Облака')
    div.col-12.col-md-6.offset-lg-1.col-lg-5.SectionAba-Column_maxWidth_35
      p.SectionAba-Paragraph
        | Стоимость монтажа кондиционера зависит от таких параметров, как:
        | мощность кондиционера, длина трассы, тип облицовки фасада, стадия
        | ремонта, необходимость отведения дренажа в канализацию и т.д.
        | Определить точную цену установки кондиционера может только
        | специалист при осмотре вашего объекта. Он учтет все пожелания,
        | подберет подходящее расположение, а также оценит все технические
        | нюансы.
      p.SectionAba-Paragraph
        | Если вы хотите примерно оценить, сколько будет стоить установка
        | кондиционера, рекомендуем посмотреть ниже схемы стандартного
        | монтажа кондиционера. При монтаже кондиционера на готовый
        | ремонт около 80 % всех случаев выглядят именно так.
    div.col-12.col-md-6.col-lg-5.SectionAba-Column_maxWidth_35
      img(src = '/uploaded/images/blue_clouds.svg', alt = 'Облака').Measurement-Bg1
      div.SectionAba-Important.SectionAba-Important_border_none
        p.SectionAba-Paragraph
          | Стоимость выезда специалиста - 200 руб.
          | (в пик сезона: с июня по август).
          | Эта сумма вычитается из стоимости монтажа
          |  при дальнейшем сотрудничестве с нами.
  +SectionAba({
    headerText: 'Стандартный монтаж кондиционера',
    sectionLink: 'stdInstall',
    classes: ''
  })
    div.col-12.offset-md-1.col-md-11.SectionAba-Column_maxWidth_35
      p.SectionAba-Paragraph
        | Выберите схему расположения наружного блока:
    div.StdInstall-VariantsContainer
      input(type = 'radio', name = 'stdInstallVariant', id = 'stdInstallVariant1', value = '1', checked)
      input(type = 'radio', name = 'stdInstallVariant', id = 'stdInstallVariant2', value = '2')
      input(type = 'radio', name = 'stdInstallVariant', id = 'stdInstallVariant3', value = '3')
      div.StdInstall-VariantsSelect
        label(for = 'stdInstallVariant1')
          | "ПОД ОКНО"
        label(for = 'stdInstallVariant2')
          | "на БАЛКОНЕ или ЛОДЖИИ"
        label(for = 'stdInstallVariant3')
          | "ЧЕРЕЗ СТЕНУ"
      div.StdInstall-Variants
        div.swiper-container.StdInstall-Variant1
          div.swiper-wrapper
            div.swiper-slide
              div.StdInstall-VariantSlide
                img(src = '/uploaded/images/stdInstall-wnd_1.svg', alt = 'Нестандартный монтаж').StdInstall-VariantSlideImg
                ul
                  li
                    | Внутренний блок на примыкающей к окну стене
                  li
                    | Наружный блок кондиционера под открывающейся частью окна
                  li
                    | Длина трассы до 5м
            div.swiper-slide
              div.StdInstall-VariantSlide
                img(src = '/uploaded/images/stdInstall-wnd_2.svg', alt = 'Нестандартный монтаж').StdInstall-VariantSlideImg
                ul
                  li
                    | Трасса внутри помещения закрывается декоративным коробом длиной до 1 м
                  li
                    | Питание в кабель-канале длинной до 2 м + вилка
                  li
                    | В стоимость монтажа включены крепеж и кронштейны
                  li
                    | Пробивка отверстия в наружной стене - 1 шт.
            div.swiper-slide
              div.StdInstall-VariantSlide
                img(src = '/uploaded/images/stdInstall-wnd_3.svg', alt = 'Нестандартный монтаж').StdInstall-VariantSlideImg
                ul
                  li
                    | Трасса снаружи идет в открытую по фасаду
                  li
                    | Дренаж выводиться на улицу вместе с трассой
          div.swiper-pagination
          div.swiper-button-prev.swiper-button-black
          div.swiper-button-next.swiper-button-black
        div.swiper-container.StdInstall-Variant2
          div.swiper-wrapper
            div.swiper-slide
              div.StdInstall-VariantSlide
                img(src = '/uploaded/images/stdInstall-bal_1.svg', alt = 'Нестандартный монтаж').StdInstall-VariantSlideImg
                ul
                  li
                    | Внутренний блок распологается на примыкающей к балкону стене
                  li
                    | Наружный блок кондиционера под открывающейся частью балконного остекления
                  li
                    | Длина трассы до 5м
            div.swiper-slide
              div.StdInstall-VariantSlide
                img(src = '/uploaded/images/stdInstall-bal_2.svg', alt = 'Нестандартный монтаж').StdInstall-VariantSlideImg
                ul
                  li
                    | Трасса внутри помещения закрывается декоративным коробом длиной до 1 м
                  li
                    | Питание в кабель-канале длинной до 2 м + вилка
                  li
                    | В стоимость монтажа включены крепеж и кронштейны
                  li
                    | Тресса по бакону идет БЕЗ короба
                  li
                    | Пробивка отверстия в наружной стене - 1 шт.
                  li
                    | Пробивка отверстия в стене балкона - 1 шт.
            div.swiper-slide
              div.StdInstall-VariantSlide
                img(src = '/uploaded/images/stdInstall-bal_3.svg', alt = 'Нестандартный монтаж').StdInstall-VariantSlideImg
                ul
                  li
                    | Скорее всего, на фасаде трассы не видно
                  li
                    | Дренаж выводиться на улицу
          div.swiper-pagination
          div.swiper-button-prev.swiper-button-black
          div.swiper-button-next.swiper-button-black
        div.swiper-container.StdInstall-Variant3
          div.swiper-wrapper
            div.swiper-slide
              div.StdInstall-VariantSlide
                img(src = '/uploaded/images/stdInstall-wall_1.svg', alt = 'Нестандартный монтаж').StdInstall-VariantSlideImg
                ul
                  li
                    | Внутренний блок на примыкающей к окну стене, либо на наружной стене
                  li
                    | Наружный блок кондиционера на одном уровне с внутренним и должен быть доступен с земли или с лестницы (1 эт., иногда 2 эт.)
                  li
                    | Длина трассы до 3-5м
            div.swiper-slide
              div.StdInstall-VariantSlide
                img(src = '/uploaded/images/stdInstall-wall_2.svg', alt = 'Нестандартный монтаж').StdInstall-VariantSlideImg
                ul
                  li
                    | Трасса внутри помещения закрывается декоративным коробом длиной до 1 м
                  li
                    | Питание в кабель-канале длинной до 2 м + вилка
                  li
                    | В стоимость монтажа включены крепеж и кронштейны
                  li
                    | Пробивка отверстия в наружной стене - 1 шт.
            div.swiper-slide
              div.StdInstall-VariantSlide
                img(src = '/uploaded/images/stdInstall-wall_3.svg', alt = 'Нестандартный монтаж').StdInstall-VariantSlideImg
                ul
                  li
                    | Дренаж выводиться на улицу
                  li
                    | Схема монтажа подходит для 1 эт. (иногда 2 эт.)
          div.swiper-pagination
          div.swiper-button-prev.swiper-button-black
          div.swiper-button-next.swiper-button-black
      div.StdInstall-Prices
        table
          thead
            tr
              th
                | Мощность (холодопроизводительность) кондиционера
              th
                | Площадь помещения
              th
                | Стоимость установки
          tbody
            tr
              td
                | до 3,5 кВт
              td
                | до 35 м2
              td.color_blue
                strong 7000 р.
                strong 7500 р.
                strong 7500 р.
            tr
              td
                | 3,5-5 кВт
              td
                | 35-50 м2
              td.color_blue
                strong 7500 р.
                strong 8000 р.
                strong 8000 р.
            tr
              td
                | от 5 кВт
              td
                | более 50 м2
              td.color_blue
                strong 8000 р.
                strong 8500 р.
                strong 8500 р.
        //- table
          thead
            tr
              th
                | Мощность (холодопроизводительность) кондиционера
              th
                | Площадь помещения
              th
                | Стоимость установки
          tbody
            tr
              td
                | до 3,5 кВт
              td
                | до 35 м2
              td.color_blue
                strong 7500 р.
            tr
              td
                | 3,5-5 кВт
              td
                | 35-50 м2
              td.color_blue
                strong 8000 р.
            tr
              td
                | от 5 кВт
              td
                | более 50 м2
              td.color_blue
                strong 8500 р.
        //- table
          thead
            tr
              th
                | Мощность (холодопроизводительность) кондиционера
              th
                | Площадь помещения
              th
                | Стоимость установки
          tbody
            tr
              td
                | до 3,5 кВт
              td
                | до 35 м2
              td.color_blue
                strong 7500 р.
            tr
              td
                | 3,5-5 кВт
              td
                | 35-50 м2
              td.color_blue
                strong 8000 р.
            tr
              td
                | от 5 кВт
              td
                | более 50 м2
              td.color_blue
                strong 8500 р.
  +SectionAba({
    headerText: 'Этапы монтажа кондиционера',
    sectionLink: 'installSteps',
    classes: ''
  })
    div.swiper-container.InstallSteps-Slider
      div.swiper-wrapper
        div.swiper-slide
          div.InstallSteps-Slide
            div.InstallSteps-SlideImg
              img(src = '/uploaded/images/barnaul.svg', alt = 'Этап монтажа')
            p.InstallSteps-SlideText
              | Разметка под блоки кондииционера
        div.swiper-slide
          div.InstallSteps-Slide
            div.InstallSteps-SlideImg
              img(src = '/uploaded/images/barnaul.svg', alt = 'Этап монтажа')
            p.InstallSteps-SlideText
              | Прокладка межблочных комму- никаций (фреонопровод в  теплоизоляции, кабель, дренаж)
        div.swiper-slide
          div.InstallSteps-Slide
            div.InstallSteps-SlideImg
              img(src = '/uploaded/images/barnaul.svg', alt = 'Этап монтажа')
            p.InstallSteps-SlideText
              | Монтаж наружного  блока
        div.swiper-slide
          div.InstallSteps-Slide
            div.InstallSteps-SlideImg
              img(src = '/uploaded/images/barnaul.svg', alt = 'Этап монтажа')
            p.InstallSteps-SlideText
              | Монтаж внутреннего  блока
        div.swiper-slide
          div.InstallSteps-Slide
            div.InstallSteps-SlideImg
              img(src = '/uploaded/images/barnaul.svg', alt = 'Этап монтажа')
            p.InstallSteps-SlideText
              | Вальцевание
        div.swiper-slide
          div.InstallSteps-Slide
            div.InstallSteps-SlideImg
              img(src = '/uploaded/images/barnaul.svg', alt = 'Этап монтажа')
            p.InstallSteps-SlideText
              | Подключение межблочных  коммуникаций к блокам
        div.swiper-slide
          div.InstallSteps-Slide
            div.InstallSteps-SlideImg
              img(src = '/uploaded/images/barnaul.svg', alt = 'Этап монтажа')
            p.InstallSteps-SlideText
              | Монтаж пластикового  короба до 1 м для трасы
        div.swiper-slide
          div.InstallSteps-Slide
            div.InstallSteps-SlideImg
              img(src = '/uploaded/images/barnaul.svg', alt = 'Этап монтажа')
            p.InstallSteps-SlideText
              | Монтаж кабель-канала  до 2 м и подключение электропитания
        div.swiper-slide
          div.InstallSteps-Slide
            div.InstallSteps-SlideImg
              img(src = '/uploaded/images/barnaul.svg', alt = 'Этап монтажа')
            p.InstallSteps-SlideText
              | Вакуумирование трассы
        div.swiper-slide
          div.InstallSteps-Slide
            div.InstallSteps-SlideImg
              img(src = '/uploaded/images/barnaul.svg', alt = 'Этап монтажа')
            p.InstallSteps-SlideText
              | Проведение пуско-наладки и запуск оборудования
      div.swiper-pagination
      div.swiper-button-prev.swiper-button-black
      div.swiper-button-next.swiper-button-black
  +SectionAba({
    headerText: '<span class="color_blue">НЕ</span>стандартный монтаж кондиционера',
    sectionLink: 'unstdInstall',
    classes: ''
  })
    div.swiper-container.UnstdInstall-Slider
      div.swiper-wrapper
        div.swiper-slide
          div.UnstdInstall-Slide
            img(src = '/uploaded/images/unStdInstall-1.svg', alt = 'Нестандартный монтаж').UnstdInstall-SlideImg
            p.UnstdInstall-SlideText
              | Если у вас ремонт, и вы хотите сделать скрытую прокладку трассы и питания
        div.swiper-slide
          div.UnstdInstall-Slide
            img(src = '/uploaded/images/unStdInstall-2.svg', alt = 'Нестандартный монтаж').UnstdInstall-SlideImg
            p.UnstdInstall-SlideText
              | Если у вас панорамные окна в пол и крепить кронштейны под наружный блок некуда
        div.swiper-slide
          div.UnstdInstall-Slide
            img(src = '/uploaded/images/unStdInstall-3.svg', alt = 'Нестандартный монтаж').UnstdInstall-SlideImg
            p.UnstdInstall-SlideText
              | Если трассу нельзя вести открытым способом по фасаду
        div.swiper-slide
          div.UnstdInstall-Slide
            img(src = '/uploaded/images/unStdInstall-4.svg', alt = 'Нестандартный монтаж').UnstdInstall-SlideImg
            p.UnstdInstall-SlideText
              | Если управляющая компания требует располагать наружный блок в строго определенном месте и уводить дренаж в канализацию
        div.swiper-slide
          div.UnstdInstall-Slide
            img(src = '/uploaded/images/unStdInstall-5.svg', alt = 'Нестандартный монтаж').UnstdInstall-SlideImg
            p.UnstdInstall-SlideText
              | Если вам требуется антивандальная решетка или козырек от снега
        div.swiper-slide
          div.UnstdInstall-Slide
            img(src = '/uploaded/images/unStdInstall-6.svg', alt = 'Нестандартный монтаж').UnstdInstall-SlideImg
            p.UnstdInstall-SlideText
              | Если вы хотите, чтобы кондиционера не было видно :) и другие индивидуальные случаи
      div.swiper-pagination
      div.swiper-button-prev.swiper-button-black
      div.swiper-button-next.swiper-button-black
  +SectionAba({
    headerText: 'Монтаж в два этапа',
    sectionLink: 'twoStepsInstall',
    classes: ''
  })
    div.col-12.col-md-6.offset-lg-1.col-lg-5.SectionAba-Column_maxWidth_35
      p.SectionAba-Paragraph
        | Если к ремонту вы подходите с умом, то о кондиционере необходимо
        | задуматься заранее - еще на этапе черновой отделки.
      p.SectionAba-Paragraph
        | Если стены бетонные или кирпичные, под трассу делается штроба.
        | Так же принято делать штробы под питание кондиционера и дренаж
        | (если дренаж необходимо провести отдельно от трассы).
        | Дренаж, как правило, уводится в канализацию через специальный
        | сухой сифон.
        | Если дренаж невозможно отвести от внутреннего блока самотеком,
        | то предусматривается место под дренажный насос или помпу
        | (она может располагаться под внутренним блоком или за потолком).
        | Расположение внутреннего блока необходимо продумать заранее
        | согласно расположению мебели в дизайн-проекте.
        | При определении отступа внутреннего блока от соседней стены и
        | потолка - не забудьте про портьеры и высоту багета (если он имеется).
      p.SectionAba-Paragraph
        | Монтаж в два этапа на стадии ремонта позволяет отложить оплату
        | дорогостоящего оборудования на потом — до монтажа блоков.
        | Предварительно, конечно, лучше определиться с моделью
        | кондиционера, чтобы учесть габариты — иногда важен каждый см.
        | Так же не у всех моделей сплит систем питание подводится к
        | внутреннему блоку — иногда необходимо заложить дополнительный
        | питающий кабель.
    div.col-12.col-md-6.col-lg-5.SectionAba-Column_maxWidth_35
      div.SectionAba-Important
        p
          | Монтаж обычно делится на два этапа:
        ul
          li
            | закладка трассы под кондиционер на этапе черновой отделки
          li
            | монтаж блоков кондиционера и пуско-наладка уже на готовый ремонт
      div.SectionAba-Important
        p
          | При монтаже в два этапа монтажной бригаде
          | приходится выезжать на объект как минимум дважды.
          | Это увеличивает стоимость монтажа на 500 руб.
      div.SectionAba-Important
        p
          | Полная стоимость монтажа за два этапа делится
          | на две части следующим образом:
        ul
          li
            | цена за полный монтаж по прайсу минус 2000 руб
          li
            | 2000 руб — на завершающие работы

  +SectionAba({
    headerText: 'Купить кондиционер с установкой в одном месте — <span class="color_blue">это ВЫГОДНО</span>',
    sectionLink: 'buyAndInstall',
    classes: 'borderColor_blue BuyAndInstall'
  })
    div.col-12.offset-md-6.col-md-6
      div.SectionAba-Bg
        img(src = '/uploaded/images/good_cond.svg', alt = 'Кондиционер').BuyAndInstall-Bg1
    div.col-12.col-md-6.offset-lg-1.col-lg-5.SectionAba-Column_maxWidth_35
      p.SectionAba-Paragraph
        | Когда продавец и монтажник — это одна и та же компания,
        | то она несет полную ответственность за Ваш прибор.
        | Все, начиная от качества закладки до качества самого оборудования
        |  — это наша задача. Неполадки или некачественные заводские
        | детали — мы устраняем за свой счет. Если для этого требуется
        | диагностика, демонтаж и снова монтаж — мы делаем это БЕСПЛАТНО,
        |  т.к. это гарантийный случай.
      p.SectionAba-Paragraph
        | Заказывая кондиционер и установку в разных местах, вы рискуете
        | своей гарантией. В случае неполадки каждаяиз сторон будет
        | перекладывать ответственность друг на друга.
      p.SectionAba-Paragraph
        | Вы должны понимать, что работоспособность сплит-системы
        | не диагностируется, пока прибор не смонтирован.
        | Например, в случае заводского брака, чтобы кондиционер
        | отправить продавцу на диагностику, вам придется заплатить
        | монтажнику за демонтаж, за услуги по доставке прибора и затем
        | снова за монтажные работы.
      p.SectionAba-Paragraph
        | Покупая кондиционер самостоятельно и не консультируясь
        | с монтажной организацией, вы так же рискуете взять некачественный
        | прибор. Можно произвести монтаж практически любого кондиционера.
        | Вопрос лишь в том, насколько долго он вам прослужит.
        | А цена монтажа такого кондиционера при этом будет только выше.
        | Потому что зачастую при монтаже некачественных кондиционеров
        | приходится сразу менять либо ремонтировать некоторые детали.
        | Мы же предлагаем Вам только те бренды и модели, которые уже
        | проверены временем.
    div.SectionAba-Footer.borderColor_blue
      p.SectionAba-Paragraph
        | Наш совет — экономьте свои деньги, время и нервы с умом.
        | К тому же, стоимость установки кондиционера при покупке его в этом же месте
        |  — будет ниже, нежели заказывать монтаж и сплит систему в разных местах.
  +SectionAba({
    headerText: 'Установка Вашего кондиционера (приобретенного в другом месте)',
    sectionLink: 'installYours',
    classes: ''
  })
    div.col-12.offset-md-1.col-md-8.SectionAba-Column_maxWidth_35
      p.SectionAba-Paragraph
        | Если Вы все же купили сплит-систему в М.видео розничных сетях
        | или заказали в Московском интернет-магазине, будьте готовы к тому, что:
      ul.InstallYours-List
        li
          | монтаж будет дороже в среднем на 2000–3000 руб.
        li
          | гарантию за предоставленное для монтажа оборудование Вы несете сами
        li
          | доставку оборудования до объекта Вы осуществляете самостоятельно
        li
          | в случае неисправности оборудования (что может выясниться только  после запуска),
          | диагностика, демонтаж и последующий монтаж , а также траспортные расходы за Ваш счет.
  +SectionAba({
    headerText: 'Установка кондиционера своими руками',
    sectionLink: 'instalBySelf',
    classes: ''
  })
    div.col-12.col-md-6.offset-lg-1.col-lg-5.SectionAba-Column_maxWidth_35
      p.SectionAba-Paragraph
        | Если Вы мастер на все руки, посмотрели ролик на Youtube и решили
        | поставить кондиционер самостоятельно.
        | Помните, что кондиционер — это не то оборудование, которое
        | достаточно навесить на стену и включить в розетку.
        | От качества монтажа зависит на сколько долго он Вам прослужит.
        | А в случае самостоятельного монтажа — запустится ли он вообще.
      p.SectionAba-Paragraph
        | Для монтажа кондиционеров используются специальные инструменты:
        | вакуумный насос, вальцовка, манометрические и заправочные станции,
        | горелка, труборезы, трубогибы и труборасширители, римеры и
        | термометры, а также перфораторы, буры, болгарки и шуруповерты.
        | Минимальный комплект для монтажа кондиционера стоит
        | около 120 000 – 150 000 руб. А еще нужно, как минимум, среднее
        | специальное техническое образование или высшее и опыт работы
        | от 5 лет в сфере кондиционирования или холодильного оборудования.
    div.col-12.col-md-6.col-lg-5.SectionAba-Column_maxWidth_35
      img(src = '/uploaded/images/damaged_cond.svg', alt = 'Кондиционер').InstalBySelf-Bg1
      div.SectionAba-Important.SectionAba-Important_border_none
        p
          | Помните «скупой платит дважды» :)
  +SectionAba({
    headerText: 'Монтаж частными лицами и непрофильными компаниями (отделочниками)',
    sectionLink: 'unProfInstall',
    classes: ''
  })
    div.col-12.col-md-6.offset-lg-1.col-lg-5.SectionAba-Column_maxWidth_35
      p.SectionAba-Paragraph
        | При монтаже кондиционера частными лицами, бригадами, найденными
        | на доске объявлений, на Авито, Вы рискуете своей гарантией.
        | При возникновении проблем частник может просто не взять трубку.
        | Ответственность за качество выполненных работ никто не несет.
        | Договор держится на «честном слове». Опытность монтажника Вам
        | придется оценивать интуитивно.
      p.SectionAba-Paragraph
        | Еще более неудачный случай — когда кондиционер ставят отделочники.
        | Мы часто сталкиваемся на объектах с «плодами таких трудов».
        | В результате, либо оборудование не работает, конденсат бежит по стене,
        | фреон уходит, либо сделано настолько странно, что возникает вопрос:
        | «Зачем? И как до такого можно было додуматься?»
    div.col-12.col-md-6.col-lg-5.SectionAba-Column_maxWidth_35
      div.SectionAba-Important
        p
          | Поэтому если некий отделочник предлагает
          | Вам и плитку в ванной положить,
          | и кондиционер поставить  — не соглашайтесь :)
  +SectionAba({
    headerText: 'Прайс на монтаж бытовых сплит-систем',
    sectionLink: 'price',
    classes: 'SectionAba_border_none'
  })
    table.Price-Table
      thead
        tr
          th(rowspan = '2')
            | Наименование работ и материалов
          th(colspan = '4')
            | Мощность (холодопроизводительность) кондиционера, кВт
        tr
          th
            | 2 - 2,6 кВт
          th
            | 3,5 кВт
          th
            | 5,5 кВт
          th
            | 7 кВт
      tbody
        tr
          td
            | Монтаж кондиционера на готовую трассу
          td
            | 3000
          td
            | 3000
          td
            | 4000
          td
            | 4000

        tr
          td
            | Монтаж только внутреннего блока
          td
            | 1500
          td
            | 1500
          td
            | 2000
          td
            | 2000

        tr
          td
            | Монтаж только наружного блока
          td
            | 1500
          td
            | 1500
          td
            | 2500
          td
            | 2500

        tr
          td
            | Демонтаж кондиционера
          td
            | 2500
          td
            | 2500
          td
            | 3000
          td
            | 3000

        tr
          td
            | Демонтаж только внутреннего блока
          td
            | 1200
          td
            | 1200
          td
            | 1500
          td
            | 1500

        tr
          td
            | Штробление стен для укладки межблочной трассы (кирпич/бетон)
          td
            | 500
          td
            | 500
          td
            | 500
          td
            | 600

        tr
          td
            | Штробление стен для укладки межблочной трассы (железобетон)
          td
            | 700
          td
            | 700
          td
            | 800
          td
            | 800

        tr
          td
            | Штробление стен для укладки дренажной трубки (кирпич/бетон)
          td
            | 200
          td
            | 200
          td
            | 200
          td
            | 200

        tr
          td
            | Штробление стен для укладки дренажной трубки (железобетон)
          td
            | 400
          td
            | 400
          td
            | 400
          td
            | 400

        tr
          td
            | Установка дренажной помпы для удаления конденсата
          td
            | 1000-1500
          td
            | 1000-1500
          td
            | 1000-1500
          td
            | 1000-1500

        tr
          td
            | Стоимость дренажной помпы выбрать
          td
            | от 3500
          td
            | от 3500
          td
            | от 3500
          td
            | от 3500

        tr
          td
            | Установка защитного козырька
          td
            | 800
          td
            | 800
          td
            | 1200
          td
            | 1200

        tr
          td
            | Стоимость защитного козырька выбрать
          td
            | 1400
          td
            | 1400
          td
            | 1400
          td
            | 1400

        tr
          td
            | Установка антивандальной решетки
          td
            | 1200
          td
            | 1200
          td
            | 2000
          td
            | 2000

        tr
          td
            | Стоимость антивандальной решетки выбрать
          td
            | от 1810
          td
            | от 1810
          td
            | от 1810
          td
            | от 1810

        tr
          td
            | Укладка межблочной трассы за 1 мп (в т.ч. крепеж и кронштейны)
          td
            | 300
          td
            | 300
          td
            | 300
          td
            | 450

        tr
          td
            | Стоимость межблочной трассы за 1 мп (в т.ч. крепеж и кронштейны)
          td
            | 550
          td
            | 700
          td
            | 700
          td
            | 850

        tr
          td
            | Кронштейны — комплект выбрать
          td
            | от 300
          td
            | от 300
          td
            | от 300
          td
            | от 300

        tr
          td
            | Услуги автовышки (стрела до 18 м) за 1 час (минимум 2 часа)
          td
            | 1400
          td
            | 1400
          td
            | 1400
          td
            | 1400

        tr
          td
            | Услуги автовышки (стрела до 24 м) за 1 час (минимум 2 часа)
          td
            | 1800
          td
            | 1800
          td
            | 1800
          td
            | 1800

        tr
          td
            | Услуги автовышки (стрела до 32 м) за 1 час (минимум 2 часа)
          td
            | 2500
          td
            | 2500
          td
            | 2500
          td
            | 2500

        tr
          td
            | Услуги автовышки (стрела до 50 м) за 1 час (минимум 2 часа)
          td
            | 3500
          td
            | 3500
          td
            | 3500
          td
            | 3500

        tr
          td
            | Услуги промышленного альпиниста за 1 наружный блок
          td
            | 3500
          td
            | 3500
          td
            | 4000
          td
            | 4000
  +CallbackSectionAba({
    header: null,
    description: 'Определиться, сколько нужно материалов и какие требуются  виды работ вам поможет специалист при замере.'
  })