extends t_main.pug
include ../components/NavBarAba/NavBarAba.pug
include ../components/SectionAba/SectionAba.pug
include ../components/ModalCallbackAba/ModalCallbackAba.pug

block title
  | Обслуживание и ремонт кондиционеров

block content
  +ModalCallbackAba()
  +NavBarAba({
    linkList: [
      {
        href: '#whyService',
        text: 'Зачем необходимо обслуживание кондиционера',
        svgHref: '/uploaded/images/icons.svg#whyService',
        viewBox: '0 0 3000 2381.24',
        x: '-2900'
      },
      {
        href: '#periodService',
        text: 'Как часто нужно проводить чистку кондиционера',
        svgHref: '/uploaded/images/icons.svg#periodService',
        viewBox: '0 0 1853 2381.24'
      },
      {
        href: '#servicePrice',
        text: 'Стоимость обслуживания кондиционера',
        svgHref: '/uploaded/images/icons.svg#price',
        viewBox: '0 0 1300 2381.24',
        x: '-31600'
      },
      {
        href: '#serviceInclude',
        text: 'Что включает в себя обслуживание сплит систем',
        svgHref: '/uploaded/images/icons.svg#serviceInclude',
        viewBox: '0 0 4000 2381.24',
        x: '-6500'
      },
    ],
  })
  +SectionAba({
    headerText: 'Зачем необходимо обслуживать кондиционер?',
    sectionLink: 'whyService',
    classes: ' WhyService'
  })
    div.col-12.offset-md-1.col-md-7.col-xl-5.SectionAba-Column_maxWidth_35
      p.SectionAba-Paragraph
        | В процессе эксплуатации сплит системы теплообменники внутреннего
        | и наружного блоков забиваются пылью, грязью и пухом.
        | Теплоотдача ухудшается, компрессор начинает повышать давление
        | и перегревается. Далее срабатывает защита – кондиционер отключается.
        | Неоднократное повторение перегрева в дальнейшем приводит к
        | поломке компрессора и, как правило, компрессор кондиционера
        | ремонту уже не подлежит. А замена компрессора соизмерима по
        | цене с покупкой новой сплит-системы.
      p.SectionAba-Paragraph
        | Также периодически засоряется дренажная система. В ванночке
        | накапливается слизь, которая создают непроходимость в дренажной
        | трубке. В результате, с внутреннего блока по стене начинает литься
        | вода, намокают обои, портится отделка.
        | Из-за постоянных температурных перепадов нашего климата в трассе
        | между наружным и внутренним блоком на стыках возникают
        | микрощели (газ и материалы то расширяются, то сжимаются).
        | Норма утечки фреона в год составляет до 10 %. При некачественном
        | монтаже этот показатель достигает до 50% и более. При нехватке
        | фреона в сети, кондиционер начинает холодить хуже, либо совсем
        | перестает охлаждать.
      p.SectionAba-Paragraph
        | В любом техническом паспорте кондиционера Вы найдете требования
        | о необходимости проведения технического обслуживания.
        | Даже гарантия на оборудование дается ТОЛЬКО при условии
        | своевременного сервисного обслуживания кондиционера.
    div.col-md-4.col-xl-6.SectionAba-Column_maxWidth_35
      img(src="/uploaded/images/bg_disease.svg").WhyService-BgImg1
    div.SectionAba-Footer
      p.SectionAba-Paragraph
        | Техобслуживание кондиционера необходимо
        | и для Вашего личного здоровья.
        | Давно нечищеный кондиционер превращается в
        | пылесборник и рассадник вредных микроорганизмов.
  +SectionAba({
    headerText: 'Как часто нужно проводить чистку кондиционера?',
    sectionLink: 'periodService',
    classes: ' borderColor_blue PeriodService'
  })
    div.col-12.offset-md-1.col-md-7.col-xl-5.SectionAba-Column_maxWidth_35
      p.SectionAba-Paragraph
        | Частота сервиса кондиционеров зависит от условий эксплуатации:
        | от частоты пользования, местоположении блоков, назначении
        | обслуживаемого помещения.
        | Например, домашние сплит-системы рекомендуется обслуживать
        | не менее 1 раза в год. Если в городе есть тополиный пух, то 2 раза.
        | В серверных рекомендуется проводить обслуживание не менее
        | 2-х раз в год. А в магазинах одежды иногда обслуживают по 3-4 раза
        |  за сезон.
      p.SectionAba-Paragraph
        | Сетки (фильтра) внутреннего блока можно чистить самостоятельно.
        | Рекомендуем промывать как можно чаще – раз в 2 недели.
        | перестает охлаждать.
      p.SectionAba-Paragraph
        | Настоятельно рекомендуем делать первое ТО до начала сезона:
        | где-то в апреле - начале мая. С середины мая становится жарко и
        | сильно повышается степень загруженности кондиционерных фирм.
        | Не следует тянуть до того момента, когда в жару вы просто не сможете
        | воспользоваться технически неисправным кондиционером, а ждать
        | специалиста уже придется 1-2 недели.
    div.col-md-4.col-xl-6.SectionAba-Column_maxWidth_35.PeriodService-Bg
      img(src="/uploaded/images/bg_sevice.svg").PeriodService-BgImg1
    div.SectionAba-Footer.borderColor_blue
      p.SectionAba-Paragraph
        | Вовремя выполненное обслуживание кондиционера сохранит
        | Ваш бюджет, здоровье и нервы.
  +SectionAba({
    headerText: 'Стоимость обслуживания кондиционера',
    sectionLink: 'servicePrice',
    classes: ' ServicePrice'
  })
    div.col-12.offset-lg-1.col-lg-10.ServicePrice-Offers
      div.goods_hits
        div.goods
          a(onclick = 'window.formSettingsAba.mail_text = "Заявка на обслуживание настенной сплит системы мощностью от 2 до 7 кВт"').ModalCallbackAba-Call
            svg(viewBox="0 0 2600 2381.24").ServicePrice-OfferImg
              use(xlink:href="/uploaded/images/icons.svg#homeCond", x="-41000")
            span.name
              | Настенная сплит система мощностью от 2 до 7 кВт
          div.price
            | 2 000&nbsp
            span.rouble
              | Р
          a(onclick = 'window.formSettingsAba.mail_text = "Заявка на обслуживание настенной сплит системы мощностью от 2 до 7 кВт"').buy.ModalCallbackAba-Call
            | Заказать
        div.goods
          a(onclick = 'window.formSettingsAba.mail_text = "Заявка на обслуживание кассетной/универсальной/канальной/колонной сплит системы мощностью от 3,5 до 16 кВт"').ModalCallbackAba-Call
            svg(viewBox="0 0 2600 2381.24").ServicePrice-OfferImg
              use(xlink:href="/uploaded/images/icons.svg#promCond", x="-34600")
            span.name
              | Кассетные, универсальные, канальные, колонные сплит системы мощностью от 3,5 до 16 кВт
          div.price
            | 2 500&nbsp
            span.rouble
              | Р
          a(onclick = 'window.formSettingsAba.mail_text = "Заявка на обслуживание кассетной/универсальной/канальной/колонной сплит системы мощностью от 3,5 до 16 кВт"').buy.ModalCallbackAba-Call
            | Заказать
        div.goods
          a(onclick = 'window.formSettingsAba.mail_text = "Заявка на обслуживание мобильного кондиционера"').ModalCallbackAba-Call
            svg(viewBox="0 0 1500 2381.24").ServicePrice-OfferImg
              use(xlink:href="/uploaded/images/icons.svg#mobCond", x="-38300")
            span.name
              | Мобильные кондиционеры
          div.price
            | 2 000&nbsp
            span.rouble
              | Р
          a(onclick = 'window.formSettingsAba.mail_text = "Заявка на обслуживание мобильного кондиционера"').buy.ModalCallbackAba-Call
            | Заказать
  +SectionAba({
    headerText: 'Что включает в себя обслуживание сплит систем?',
    sectionLink: 'serviceInclude',
    classes: ' SectionAba_border_none'
  })
    div.col-12.col-md-6.ServiceInclude-Column
      img(src="/uploaded/images/inner_cond.svg").ServiceInclude-ColumnImg
      p.ServiceInclude-ColumnText
        | Техническое обслуживание внутреннего блока включает в себя:
      ol.ServiceInclude-ColumnList
        li Снятие, очистка и промывка фильтров внутренней рециркуляции;
        li Очистка внутреннего блока от внешних источников загрязнения;
        li Очистка крыльчатки вентилятора;
        li Очистка поддона для сбора конденсата внутреннего блока;
        li Очистка дренажного канала;
        li Осушка по программе встроенного микропроцессора;
        li Осмотр блока электроники;
        li Проверка качества паяных и разъемных соединений и их герметизации;
        li Тестирование режимов работы кондиционера.
    div.col-12.col-md-6.ServiceInclude-Column
      img(src="/uploaded/images/outer_cond.svg").ServiceInclude-ColumnImg
      p.ServiceInclude-ColumnText
        | Техническое обслуживание наружного блока включает в себя:
      ol.ServiceInclude-ColumnList
        li Осмотр блока электроники;
        li Контроль холодильного контура на наличие хладагента, дозаправка в случае необходимости (в случае если потеря не превышает 20%);
        li Проверка качества паяных и разъемных соединений и их герметизации;
        li Очистка внешнего блока от внешних источников загрязнения (сухая либо влажная очистка под давлением от загрязнений конденсатора наружного блока);
        li Обследование электрической контактной группы наружного блока;
        li Тестирование режимов работы кондиционера при максимальной нагрузке.


