mixin SectionAba(options)
  - var {headerText, sectionLink, classes} = options
  section(class = "SectionAba " + classes, id = sectionLink)
    h2.SectionAba-Header
      a(name = sectionLink, href = "#" + sectionLink)
        | !{headerText}
    block
