mixin SectionAba(options)
  - var {headerText, sectionLink, classes} = options
  section.SectionAba
    h2(class = "SectionAba-Header " + classes)
      a(name = sectionLink, id = sectionLink, href = "#" + sectionLink)
        | #{headerText}
    block