.SectionAba {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: solid 2px #e8e8e8;
  overflow: hidden;
}

.SectionAba_border_none {
  border-bottom: none;
}

.SectionAba * {
  box-sizing: border-box;
}

.SectionAba-Header {
  box-sizing: border-box;
  flex: 0 0 100%;
  font: {
    size: 1.375em;
    weight: 700;
  };
  padding: {
    top: 1.6363em;
    bottom: 1.6363em;
    left: 13%;
  }
}

.SectionAba-Header > a {
  color: black;
  text-decoration: none;
}

.SectionAba-Header > a:hover {
  text-decoration: underline;
  color: #666;
}

.SectionAba-Paragraph {
  margin-bottom: 1.5em;
}

.SectionAba-Paragraph > strong {
  color: #00ccf4;
}

.SectionAba-Important {
  border: 3px solid #dcdcdc;
  margin-bottom: 1.5em;
  padding: {
    top: 1.5em;
    bottom: 1.5em;
    left: 0.5em;
    right: 0.5em;
  };
}

.SectionAba-Important_border_none {
  border: none;
}

.SectionAba-Important > * {
  max-width: 22em;
  margin: auto;
}

.SectionAba-Important > ul {
  padding-left: 1.5em;
  list-style: none;
}

.SectionAba-Important > ul > li {
  position: relative;
}

.SectionAba-Important > ul > li:before {
  content: " ";
  position: absolute;
  top: 0.4375em;
  left: -1em;
  width: 0.625em;
  height: 0.625em;
  background-color: #71e2ff;
}

.SectionAba-SubSection {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex: 0 0 100%;
  border-bottom: solid 2px #e8e8e8;
  padding: {
    top: 1.5em;
  };
  overflow: hidden;
}

.SectionAba-SubSection:nth-of-type(1) {
  padding: {
    top: 0;
  };
}

.SectionAba-SubSection:nth-last-of-type(1) {
  border-bottom: none;
}

.SectionAba-Footer {
  width: 100%;
  border-top: solid 2px #e8e8e8;
  padding-top: 1.5em;
  text-align: center;
}

.SectionAba-Bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-width: 768px) {
  .SectionAba-Footer {
    padding: {
      left: 20%;
      right: 20%;
    }
  }
}

@media (max-width: 768px) {
  .SectionAba-Column_maxWidth_35 {
    max-width: 35em;
    margin: 0 auto;
    padding: {
      left: 0;
      right: 0;
    };
  }
}