mixin SectionAba(options)
  - var {headerText, sectionLink, classes} = options
  section(class = "SectionAba" + classes)
    h2.SectionAba-Header
      a(name = sectionLink, id = sectionLink, href = "#" + sectionLink)
        | !{headerText}
    block
