mixin CallbackSectionAba(options)
  - var {header, description} = options
  section.CallbackSectionAba
    h2.CallbackSectionAba-Header
      | #{header}
    p.CallbackSectionAba-Description
      | #{description}
    //- a(href = "/pages/Forma").CallbackSectionAba-Link
    button.CallbackSectionAba-Link.ModalCallbackAba-Call
      | Оставить заявку
